{% extends 'base.html.twig' %}

{% block title %}| {{ category.name }} {% endblock %}

{% block body %}

    <main class="container">
        <div class="d-flex justify-content-around flex-wrap pt-5">
            {% for article in articles %}
                <div class="col-md-5">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2" style="color: {{ article.idcategory.color }}">{{ article.idcategory.name }}</strong>
                            <h3 class="mb-0">{{ article.title }}</h3>
                            <div class="mb-1 text-muted">{{ article.date | date('d/m/Y') }}</div>
                            <p class="card-text mb-auto">{{ article.content|striptags|slice(0, 150) }}...</p>
                            <a href="{{ path('app_articles', {'name': article.title}) }}" class="stretched-link">Continuez à lire...</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}

