{% extends 'base.html.twig' %}

{% block title %}| {{ article.title }} {% endblock %}

{% block body %}

    <main class="container">
        <article class="blog-post mt-5">
            <h2 class="text-center blog-post-title">{{ article.title }}</h2>
            <p class="blog-post-meta">
                <strong class="d-inline-block mb-2"
                        style="color: {{ article.idcategory.color }}">{{ article.idcategory.name }}</strong> |
                {{ article.date|date('d/m/Y') }}
            </p>

            <p class="mb-5">{{ article.description }}</p>
            <hr>
            <p class="lh-lg mt-5 mb-5">{{ article.content|striptags }}</p>

            <hr>
            <p class="blog-post-meta text-end mt-5 mb-5">
                écrit par

                {% for author in article.author %}
                    {% if article.author|length == 1 %}
                        <a href="#"
                           class="link-secondary"> {{ author.firstname }} {% if author.name %}{{ author.name }} {% endif %}</a>
                    {% else %}
                        <a href="#"
                           class="link-secondary"> {{ author.firstname }} {% if author.name %}{{ author.name }} {% endif %} {% if not loop.last %}</a>, {% endif %}
                    {% endif %}
                {% endfor %}
            </p>

            {% if article.youtubeLink %}
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/{{ article.youtubeLink }} }}"
                            title="{{ article.title }}" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen>
                    </iframe>
                </div>
            {% endif %}
            <hr>
            <div class="d-flex justify-content-center mt-5 mb-5">
                <form action="{{ path('app_articles', {'name': article.title}) }}" method="post" class="col-6">
                    {{ form_start(commentForm) }}
                    {{ form_row(commentForm.Pseudo, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Pseudonyme'}}) }}
                    {{ form_row(commentForm.Commentaire, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Commentaire'}}) }}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                    {{ form_end(commentForm) }}
                </form>
            </div>
            <hr>
            <div class="d-flex justify-content-center mt-5 mb-5">
                <div class="col-6">
                    {% if article.comments|length > 0 %}
                        {% for comment in article.comments %}
                            <p class="mb-0">Par <strong>{{ comment.pseudonym }}</strong> le
                                {{ comment.date|date('d/m/Y') }}</p>
                            <p class="mb-5">{{ comment.content }}</p>
                        {% endfor %}
                    {% else %}
                        <p class="mb-5">Aucun commentaire pour le moment</p>
                    {% endif %}
                </div>
            </div>
        </article>
    </main>

{% endblock %}